<mat-card>
 
  <img mat-card-image src="assets/no-image.png" alt="" />
  <mat-card-content>
    <div class="row">
      <div class="col">
        
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h2 class="text-muted">{{producto.pro_nombre|uppercase}}</h2>
      </div>
      <div class="col-12">
        <p  class="text-danger" style="font-size: 16px;">S/.{{producto.pro_precio}}</p>
      </div>
    </div>
    <div class="row">
      
    </div>
    
    <div class="row d-flex">
      <div class="input-group">
        <input type="number" class="form-control" name="" id="" [(ngModel)]="producto.pro_cantidad_elegida">
        <span class="input-group-btn">
          <button type="button" class="btn btn-danger ml-auto" (click)="addtoCar()">
        Add to Car <i class="fas fa-plus-square fa-lg"></i>
      </button>
        </span>
      </div>
      
      
    </div>
  </mat-card-content>
</mat-card>
