<mat-card>
  <mat-card-header>
    <mat-card-title>{{ prueba.superhero }}</mat-card-title>
    <mat-card-subtitle>Aqui vendría alguna descripcion</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/no-image.png" alt="" />
  <mat-card-content>
    <h3>Otra cosa</h3>
    <p>Blabla</p>
    <div class="row d-flex">
      <div class="input-group">
        <input type="number" class="form-control" name="" id="" [(ngModel)]="prueba.cantidad">
        <span class="input-group-btn">
          <button type="button" class="btn btn-danger ml-auto" (click)="addtoCar()">
        Add to Car <i class="fas fa-plus-square fa-lg"></i>
      </button>
        </span>
      </div>
      
      
    </div>
  </mat-card-content>
</mat-card>
