<mat-grid-list cols="2" rowHeight="70px">
    <mat-grid-tile colspan="2">
        <mat-card-title>CONTRASEÑA</mat-card-title>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <div>
            <button mat-flat-button color="primary" (click)="change=true">Cambiar contraseña</button>
        </div>
    </mat-grid-tile>
</mat-grid-list>
<div *ngIf="change">
    <mat-grid-list cols="2" rowHeight="80px">
        <mat-grid-tile colspan="1">
            <p>Contraseña: </p>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
            <mat-form-field appearance="fill">
                <mat-label>Ingrese su contraseña</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" [formControl]="Password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="Password.hasError('required')">Ingrese contraseña</mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
            <p>Nueva Contraseña: </p>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
            <mat-form-field appearance="fill">
                <mat-label>Nueva Contraseña</mat-label>
                <input matInput [type]="hide1 ? 'password' : 'text'" [formControl]="newPassword">
                <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide1">
                    <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="newPassword.hasError('required')">Ingrese contraseña</mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
            <p>Repita Contraseña: </p>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
            <mat-form-field appearance="fill">
                <mat-label>Repita Contraseña</mat-label>
                <input matInput [type]="hide2 ? 'password' : 'text'" [formControl]="confirmPassword">
                <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide2">
                    <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="confirmPassword.hasError('required')">Repita contraseña</mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
            <div>
                <button mat-flat-button class="btn btn-success btn-send" (click)="cambiarPassword()">Aceptar</button>
                <button mat-flat-button class="btn btn-danger btn-cancel" (click)="cancelar()">Cancelar</button>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>