<mat-grid-list cols="5" rowHeight="70px">
    <mat-grid-tile colspan="5">
        <mat-card-title>HISTORIAL DE COMPRA</mat-card-title>
    </mat-grid-tile>
</mat-grid-list>
<mat-divider></mat-divider>
<mat-grid-list cols="5" rowHeight="70px">
    <mat-grid-tile colspan="1">
        <p>Nro Comprobante</p>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
        <p>Doc identidad</p>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
        <p>Cliente</p>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
        <p>Estado</p>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
        <p>Fecha</p>
    </mat-grid-tile>
</mat-grid-list>
<mat-divider></mat-divider>
<mat-grid-list cols="5" rowHeight="70px">
    <mat-list *ngFor="let item of prueba">
        <a [routerLink]="['../detalleCompra']">
            <mat-grid-tile colspan="1">
                <p>001 000100</p>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                <p>123456789</p>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                <p>Silvera Curi</p>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                <p>Entregado</p>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                <p>Hoy</p>
            </mat-grid-tile>
        </a>
    </mat-list>
</mat-grid-list>