<mat-grid-list cols="5" rowHeight="70px">
    <mat-grid-tile colspan="5">
        <mat-card-title>HISTORIAL DE COMPRA</mat-card-title>
    </mat-grid-tile>
</mat-grid-list>
<mat-divider></mat-divider>
<mat-grid-list cols="5" rowHeight="70px">
    <mat-grid-tile colspan="1">
        <p>Nro Comprobante</p>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
        <p>Doc identidad</p>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <p>Cliente</p>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
        <p>Fecha</p>
    </mat-grid-tile>
</mat-grid-list>
<mat-divider></mat-divider>
<mat-grid-list cols="5" rowHeight="50px">
    <mat-list *ngFor="let item of cabezera">
        <a [routerLink]="['../detalleCompra', item.com_num]">
            <mat-grid-tile colspan="1">
                <p class="detalle">{{item.nrocomprobante}}</p>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                <p class="detalle">{{item.com_doi}}</p>
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
                <p class="detalle">{{nombres}}</p>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                <p class="detalle">{{item.com_fecha}}</p>
            </mat-grid-tile>
        </a>
    </mat-list>
</mat-grid-list>