
<mat-grid-list cols="6" rowHeight="40px">
    
    <mat-grid-tile colspan="2" rowspan="3">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu">
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="1">
        <p>Nombre : {{producto.pro_nombre|uppercase}}</p>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="3">
        <button mat-mini-fab color="warn" (click)="removeItem()">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
        <p>Cantidad : {{producto.pro_cantidad_elegida}}</p>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
        <p>Precio : S/.{{producto.pro_precio}}</p>
    </mat-grid-tile>
</mat-grid-list>