<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <p class="brand-link">
    <img src="assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
      style="opacity: 0.8" />
    <a [routerLink]="['.']" class="brand-text font-weight-light">Administración</a>
  </p>

  <div class="sidebar">
    <div class="user-panel d-flex">
      <div class="info mt-2 mb-2" style="width: 100%;">
        <p class="d-block mantenedor" style="color: white;">MANTENEDORES</p>
      </div>
    </div>

    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['categories']">
            <i class="fas fa-store-alt"></i>
            <p class="ml-1">Categorias</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['marcas']">
            <i class="fas fa-stamp"></i>
            <p class="ml-1">Marcas</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['products']">
            <i class="fas fa-tshirt"></i>
            <p class="ml-1">Productos</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="cerrarSesion()">
            <i class="fas fa-circle"></i>
            <p class="ml-1">Cerrar Sesion</p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>