<mat-grid-list cols="2" rowHeight="80px">
    <mat-grid-tile colspan="2">
        <mat-card-title>Datos Personales</mat-card-title>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <div class="btn-al">
            <button mat-raised-button color="primary" (click)="habilitar()"><i class="far fa-edit"></i>
                Editar</button>
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
        <mat-form-field appearance="fill">
            <mat-label>Nombres</mat-label>
            <input [(ngModel)]="usuario.usu_nombres" matInput placeholder="Nombres" [formControl]="nombres">
            <mat-error *ngIf="nombres.hasError('required')">Ingrese nombres</mat-error>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
        <mat-form-field appearance="fill">
            <mat-label>Apellidos</mat-label>
            <input [(ngModel)]="usuario.usu_apellidos" matInput placeholder="Apellidos" [formControl]="apellidos">
            <mat-error *ngIf="apellidos.hasError('required')">Ingrese apellidos</mat-error>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
        <mat-form-field appearance="fill">
            <mat-label>DNI</mat-label>
            <input [(ngModel)]="usuario.usu_dni" matInput maxlength="8" placeholder="12345678" [formControl]="dni">
            <mat-error *ngIf="dni.hasError('required')">Ingrese DNI</mat-error>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
        <mat-form-field appearance="fill">
            <mat-label>Direccion</mat-label>
            <input [(ngModel)]="usuario.usu_direccion" matInput placeholder="Direccion" [formControl]="direccion">
            <mat-error *ngIf="direccion.hasError('required')">Ingrese direccion</mat-error>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
        <mat-form-field appearance="fill">
            <mat-label>Correo</mat-label>
            <input [(ngModel)]="usuario.usu_email" matInput type="email" placeholder="Correo" [formControl]="correo">
            <mat-error *ngIf="correo.hasError('required')">Ingrese correo</mat-error>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
        <mat-form-field appearance="fill">
            <mat-label>Departamento</mat-label>
            <mat-select [(ngModel)]="usuario.department_id" [formControl]="departamento">
                <mat-option value="poner">
                    poner
                </mat-option>
            </mat-select>
            <mat-error *ngIf="departamento.hasError('required')">Seleccione departamento</mat-error>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
        <mat-form-field appearance="fill">
            <mat-label>Provincia</mat-label>
            <mat-select [(ngModel)]="usuario.province_id" [formControl]="provincia">
                <mat-option value="poner">
                    poner
                </mat-option>
            </mat-select>
            <mat-error *ngIf="provincia.hasError('required')">Seleccione provincia</mat-error>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
        <mat-form-field appearance="fill">
            <mat-label>Distrito</mat-label>
            <mat-select [(ngModel)]="usuario.district_id" [formControl]="distrito">
                <mat-option value="poner">
                    poner
                </mat-option>
            </mat-select>
            <mat-error *ngIf="distrito.hasError('required')">Seleccione distrito</mat-error>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" *ngIf="editar">
        <div>
            <button mat-flat-button class="btn btn-success btn-send" (click)="actualizar()">Aceptar</button>
            <button mat-flat-button class="btn btn-danger btn-cancel" (click)="cancelar()">Cancelar</button>
        </div>
    </mat-grid-tile>
</mat-grid-list>