<mat-list>
    <mat-card-title><i class="fas fa-shopping-cart"></i> Bolsa de compras</mat-card-title>
    <mat-card-content>
        
        <mat-card *ngFor="let item of carritoService.data">
            <app-tarjeta [producto]="item"></app-tarjeta>
            
        </mat-card>
    </mat-card-content>
    <mat-card-footer>
        <mat-grid-list cols="6" rowHeight="50px">
            <mat-grid-tile colspan="3">
                <mat-card-subtitle>TOTAL NORMAL</mat-card-subtitle>
            </mat-grid-tile>
            <mat-grid-tile colspan="3">
                <mat-card-subtitle>{{carritoService.totalVenta}}</mat-card-subtitle>
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
                <button type="button" mat-stroked-button>Cerrar</button>
            </mat-grid-tile>
            <mat-grid-tile colspan="4">
                <button type="button" mat-raised-button>Ir a la bolsa</button>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card-footer>
</mat-list>