
    <mat-list>
        <mat-card-title><i class="fas fa-shopping-cart"></i> Bolsa de compras</mat-card-title>
        <mat-card-content>
            <mat-card *ngFor="let item of carritoService.data">
                <mat-grid-list cols="6" rowHeight="50px">
                    <mat-grid-tile
                        colspan="1"
                        rowspan="2"
                    >
                    <input type="number" class="form-control" value="{{item.cantidad}}">
                        
                    </mat-grid-tile>
                    <mat-grid-tile
                        colspan="1"
                        rowspan="2"
                        
                    >
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    </mat-grid-tile>
                    <mat-grid-tile
                        colspan="3"
                        rowspan="1"
                        
                    >
                    {{item.superhero}}
                    </mat-grid-tile>
                      
                    <mat-grid-tile
                        colspan="1"
                        rowspan="2"
                        
                    >
                    <button mat-mini-fab color="warn">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </mat-grid-tile>
                    <mat-grid-tile
                        colspan="3"
                        rowspan="1"
                        
                    >
                    precio
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card>
        </mat-card-content>
        <mat-card-footer>
            <mat-grid-list cols="6" rowHeight="50px">
                <mat-grid-tile
                colspan="3">
                <mat-card-subtitle>TOTAL NORMAL</mat-card-subtitle>

                </mat-grid-tile>
                <mat-grid-tile
                colspan="3">
                <mat-card-subtitle>123.00</mat-card-subtitle>

                </mat-grid-tile>
                <mat-grid-tile
                colspan="2">
                    <button type="button" mat-stroked-button>Cerrar</button>
                </mat-grid-tile>
                <mat-grid-tile
                colspan="4">
                    <button type="button" mat-raised-button (click)="goToShop()">Ir a la bolsa</button>
                </mat-grid-tile>
            </mat-grid-list>
            
        </mat-card-footer>
        
    </mat-list>

    

