.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

mat-card-content{
    overflow-y: scroll;
    max-height: 500px;
}

mat-card-footer{
    padding: 20px;
}