<mat-grid-list cols="12" rowHeight="25px">
    <mat-grid-tile colspan="2" rowspan="4">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
    </mat-grid-tile>
    <mat-grid-tile colspan="5" rowspan="4">

        <p class="align-left">Nombre : {{item.pro_nombre|uppercase}}</p>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="2">
        <p class="align-left">CANTIDAD</p>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="2">
        <button class="btn-cantidad btn btn-light" (click)="aumentar()">+</button>
        <input class="input-cantidad form-control" type="text" [value]="item.pro_cantidad_elegida">
        <button class="btn-cantidad btn btn-light" (click)="disminuir()">-</button>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="4">
        <button type="button" (click)="removeItem()"><i class="fas fa-trash-alt fa-2x"></i></button>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
        <p class="align-left">Precio unidad</p>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
        <p class="align-right">{{item.pro_precio}}</p>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
        <p class="align-left">Precio total</p>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
        <p class="align-right">{{item.pro_precio*item.pro_cantidad_elegida}}</p>
    </mat-grid-tile>
</mat-grid-list>