<div class="row">
    <p>{{cabezera.com_tipodoi == "RUC" ? 'FACTURA' : 'BOLETA'}}</p>
</div>
<div class="row">
    <p>Tienda: online</p><p>Fecha: {{cabezera.com_fecha}}</p>
</div>
<div class="row">
    <p>Nombre Cliente: {{nombres}}</p><p>{{cabezera.com_tipodoi == "RUC" ? 'FACTURA' : 'BOLETA'}} Nro: {{cabezera.nrocomprobante}}</p>
</div>
<div class="row">
    <p>Doc Cliente: {{cabezera.com_tipodoi}}: {{cabezera.com_doi}}</p>
</div>
<div class="row">
    <p>Email Cliente: {{email}}</p>
</div>
<div class="row">
    <p>Celular: {{celular}}</p>
</div>
<div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="pro_id">
        <th mat-header-cell *matHeaderCellDef> CODIGO </th>
        <td mat-cell *matCellDef="let element"> {{element.pro_id}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="pro_nombre">
        <th mat-header-cell *matHeaderCellDef> DESCRIPCION DEL PRODUCTO </th>
        <td mat-cell *matCellDef="let element"> {{element.pro_nombre}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
  
      <ng-container matColumnDef="dco_punitario">
        <th mat-header-cell *matHeaderCellDef> CANTIDAD </th>
        <td mat-cell *matCellDef="let element"> {{element.dco_punitario}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
  
      <ng-container matColumnDef="dco_cantidad">
        <th mat-header-cell *matHeaderCellDef> PRECIO U. </th>
        <td mat-cell *matCellDef="let element"> {{element.dco_cantidad}} </td>
        <td mat-footer-cell *matFooterCellDef>Total</td>
      </ng-container>

      <ng-container matColumnDef="dco_subtotal">
        <th mat-header-cell *matHeaderCellDef> SUBTOTAL </th>
        <td mat-cell *matCellDef="let element"> {{element.dco_subtotal}} </td>
        <td mat-footer-cell *matFooterCellDef> {{cabezera.com_total}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
  </div>
  
  
  
  
  
  
  
