<mat-horizontal-stepper linear #stepper (selectionChange)="selectionChange()">
  <mat-step>
    <ng-template matStepLabel>Bolsa de compra</ng-template>
    <mat-card *ngFor="let item of carService.data">
      <app-item [item]="item"></app-item>
    </mat-card>
    <mat-grid-list cols="12">
      <mat-grid-tile colspan="12">
        <button mat-flat-button matStepperNext color="primary">
          Continuar con mi compra
        </button>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-step>

  <mat-step [stepControl]="firstFormGroup" [optional]="bandLinear">
    <ng-template matStepLabel>Despacho</ng-template>
    <div class="row">
      <div class="col-8 div-hor">
        <mat-grid-list cols="2" rowHeight="80px">
          <mat-grid-tile colspan="2">
            <p>¿Con cuál método de entrega quieres recibir tu producto?</p>
          </mat-grid-tile>
          <mat-grid-tile colspan="1">
            <div class="example-button-container">
              <button mat-fab color="primary" aria-label="Example icon button with a home icon"
                (click)="delivery = true ; bandLinear=false">
                <mat-icon>home</mat-icon>
              </button>
            </div>
            <p class="align-left">Despacho a domicilio</p>
          </mat-grid-tile>
          <mat-grid-tile colspan="1">
            <div class="example-button-container">
              <button mat-fab color="primary" aria-label="Example icon button with a home icon"
                (click)="delivery = false; bandLinear=true">
                <mat-icon>location_on</mat-icon>
              </button>
            </div>
            <p class="align-left">Retiro en tienda</p>
          </mat-grid-tile>

          <div *ngIf="delivery">
            <form [formGroup]="firstFormGroup">
              <mat-grid-tile colspan="2">
                <p>Dirección</p>
              </mat-grid-tile>
              <mat-grid-tile colspan="1">
                <mat-form-field appearance="fill">
                  <mat-label>Direccion</mat-label>
                  <input matInput type="text" formControlName="direccion" [(ngModel)]="deliveryObject.del_calle"
                    required />
                  <mat-error *ngIf="direccion.hasError('required')">Ingrese direccion</mat-error>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile colspan="1">
                <mat-form-field appearance="fill">
                  <mat-label>Departamento</mat-label>
                  <select matNativeControl formControlName="departamento" [(ngModel)]="deliveryObject.del_deparment_id"
                    required>
                    <option value="1">poner</option>
                    <option value="2">poner</option>
                  </select>
                  <mat-error *ngIf="departamento.hasError('required')">Seleccione departamento</mat-error>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile colspan="1">
                <mat-form-field appearance="fill">
                  <mat-label>Provincia</mat-label>
                  <select matNativeControl formControlName="provincia" [(ngModel)]="deliveryObject.del_province_id"
                    required>
                    <option value="1">poner</option>
                    <option value="2">poner</option>
                  </select>
                  <mat-error *ngIf="provincia.hasError('required')">Seleccione provincia</mat-error>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile colspan="1">
                <mat-form-field appearance="fill">
                  <mat-label>Distrito</mat-label>
                  <select matNativeControl formControlName="distrito" [(ngModel)]="deliveryObject.del_district_id"
                    required>
                    <option value="1">poner</option>
                    <option value="2">poner</option>
                  </select>
                  <mat-error *ngIf="distrito.hasError('required')">Seleccione distrito</mat-error>
                </mat-form-field>
              </mat-grid-tile>
            </form>
            <mat-grid-tile colspan="2">
              <p>Valor del delivery: S/ 10.00</p>
            </mat-grid-tile>
          </div>
          <div *ngIf="!delivery">
            <mat-grid-tile colspan="2">
              <p>La Libertad 13011 - Trujillo</p>
            </mat-grid-tile>
          </div>
        </mat-grid-list>
      </div>

      <div class="col-4">
        <mat-list>
          <mat-card-content *ngFor="let item of prueba">
            <mat-grid-list cols="6" rowHeight="25px">
              <mat-grid-tile colspan="2" rowspan="4">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                  alt="Photo of a Shiba Inu" />
              </mat-grid-tile>
              <mat-grid-tile colspan="4" rowspan="1">
                <mat-card-title>{{ item.pro_nombre }}</mat-card-title>
              </mat-grid-tile>
              <mat-grid-tile colspan="2" rowspan="1">
                <mat-card-subtitle class="align-left">Cantidad</mat-card-subtitle>
              </mat-grid-tile>
              <mat-grid-tile colspan="2" rowspan="1">
                <mat-card-subtitle class="align-right">{{
                  item.pro_cantidad_elegida
                  }}</mat-card-subtitle>
              </mat-grid-tile>
              <mat-grid-tile colspan="2" rowspan="1">
                <mat-card-subtitle class="align-left">Precio Unitario</mat-card-subtitle>
              </mat-grid-tile>
              <mat-grid-tile colspan="2" rowspan="1">
                <mat-card-subtitle class="align-right">{{
                  item.pro_precio
                  }}</mat-card-subtitle>
              </mat-grid-tile>
              <mat-grid-tile colspan="2" rowspan="1">
                <mat-card-subtitle class="align-left">Subtotal</mat-card-subtitle>
              </mat-grid-tile>
              <mat-grid-tile colspan="2" rowspan="1">
                <mat-card-subtitle class="align-right">{{
                  item.pro_precio * item.pro_cantidad_elegida
                  }}</mat-card-subtitle>
              </mat-grid-tile>
            </mat-grid-list><br />
            <mat-divider></mat-divider>
          </mat-card-content>
        </mat-list>
        <mat-card-footer>
          <mat-grid-list cols="6" rowHeight="50px">
            <mat-grid-tile colspan="3">
              <mat-card-subtitle class="totales align-left">TOTAL NORMAL:</mat-card-subtitle>
            </mat-grid-tile>
            <mat-grid-tile colspan="3">
              <mat-card-subtitle class="totales align-right">{{
                carService.totalVenta
                }}</mat-card-subtitle>
            </mat-grid-tile>
            <mat-grid-tile colspan="6">
              <button type="button" mat-flat-button matStepperNext color="primary" (click)="continuarDespacho()">
                Continuar
              </button>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card-footer>
      </div>
    </div>
  </mat-step>

  <mat-step [stepControl]="secondFormControl" [optional]="boleta">
    <ng-template matStepLabel>Pago</ng-template>
    <div class="row">
      <div class="col-8 div-hor">
        <mat-grid-list cols="2" rowHeight="80px">
          <mat-grid-tile colspan="2">
            <p>Seleccione comprobante de pago</p>
          </mat-grid-tile>
          <mat-grid-tile colspan="1">
            <div class="example-button-container">
              <button mat-fab color="primary" aria-label="Example icon button with a home icon"
                (click)="validarSecond(true)">
                <mat-icon>person</mat-icon>
              </button>
            </div>
            <p class="align-left">Boleta</p>
          </mat-grid-tile>
          <mat-grid-tile colspan="1">
            <div class="example-button-container">
              <button mat-fab color="primary" aria-label="Example icon button with a home icon"
                (click)="validarSecond(false)">
                <mat-icon>corporate_fare</mat-icon>
              </button>
            </div>
            <p class="align-left">Factura</p>
          </mat-grid-tile>
          <form [formGroup]="secondFormControl">
            <div *ngIf="boleta">
              <mat-grid-tile colspan="2">
                <mat-form-field appearance="fill" class="input-pago-lg">
                  <mat-label>Nombre cliente</mat-label>
                  <input matInput type="text" [(ngModel)]="nombreConcatenado" formControlName="cliente">
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile colspan="2">
                <mat-form-field appearance="fill" class="input-pago-lg">
                  <mat-label>Email cliente</mat-label>
                  <input matInput type="email" [(ngModel)]="usuario.usu_email" formControlName="correo">
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile colspan="1">
                <mat-form-field appearance="fill">
                  <mat-label>Doc cliente</mat-label>
                  <input matInput type="text" [(ngModel)]="usuario.usu_dni" formControlName="dni">
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile colspan="1">
                <mat-form-field appearance="fill">
                  <mat-label>Celular</mat-label>
                  <input matInput type="text" [(ngModel)]="usuario.usu_celular" formControlName="celularPersona">
                </mat-form-field>
              </mat-grid-tile>
            </div>
            <div *ngIf="!boleta">
              <mat-grid-tile colspan="2">
                <mat-form-field appearance="fill" class="input-pago-lg">
                  <mat-label>Nombre representante</mat-label>
                  <input matInput type="text" value="nombre" [(ngModel)]="nombreConcatenado"
                    formControlName="clienteEmpresa">
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile colspan="2">
                <mat-form-field appearance="fill" class="input-pago-lg">
                  <mat-label>Email cliente</mat-label>
                  <input matInput type="email" formControlName="correoEmpresa" [(ngModel)]="usuario.usu_email">
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile colspan="1">
                <mat-form-field appearance="fill">
                  <mat-label>Doc cliente</mat-label>
                  <input matInput type="text" placeholder="RUC: " formControlName="ruc" [(ngModel)]="rucSunat">
                </mat-form-field>

                <button mat-fab color="primary" aria-label="Example icon button with a home icon"
                  (click)="buscarSunat()">
                  <mat-icon>search</mat-icon>
                </button>
              </mat-grid-tile>
              <mat-grid-tile colspan="2">
                <mat-form-field appearance="fill" class="input-pago-lg">
                  <mat-label>Razón social</mat-label>
                  <input matInput type="text" formControlName="razonSocial" [(ngModel)]="razon_social">
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile colspan="1">
                <mat-form-field appearance="fill">
                  <mat-label>Celular</mat-label>
                  <input matInput type="text" formControlName="celularEmpresa" value="123456789">
                </mat-form-field>
              </mat-grid-tile>
            </div>
          </form>
        </mat-grid-list>
      </div>
      <div class="col-4">
        <mat-list>
          <mat-card-content *ngFor="let item of prueba">
            <mat-grid-list cols="6" rowHeight="25px">
              <mat-grid-tile colspan="2" rowspan="4">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                  alt="Photo of a Shiba Inu" />
              </mat-grid-tile>
              <mat-grid-tile colspan="4" rowspan="1">
                <mat-card-title>descripcion</mat-card-title>
              </mat-grid-tile>
              <mat-grid-tile colspan="2" rowspan="1">
                <mat-card-subtitle class="align-left">Cantidad</mat-card-subtitle>
              </mat-grid-tile>
              <mat-grid-tile colspan="2" rowspan="1">
                <mat-card-subtitle class="align-right">2</mat-card-subtitle>
              </mat-grid-tile>
              <mat-grid-tile colspan="2" rowspan="1">
                <mat-card-subtitle class="align-left">Precio Unitario</mat-card-subtitle>
              </mat-grid-tile>
              <mat-grid-tile colspan="2" rowspan="1">
                <mat-card-subtitle class="align-right">S/ 30.00</mat-card-subtitle>
              </mat-grid-tile>
              <mat-grid-tile colspan="2" rowspan="1">
                <mat-card-subtitle class="align-left">Subtotal</mat-card-subtitle>
              </mat-grid-tile>
              <mat-grid-tile colspan="2" rowspan="1">
                <mat-card-subtitle class="align-right">S/ 60.00</mat-card-subtitle>
              </mat-grid-tile>
            </mat-grid-list><br />
            <mat-divider></mat-divider>
          </mat-card-content>
        </mat-list>
        <mat-card-footer>
          <mat-grid-list cols="6" rowHeight="30px">
            <mat-grid-tile colspan="3">
              <mat-card-subtitle class="totales align-left">TOTAL NORMAL:
              </mat-card-subtitle>
            </mat-grid-tile>
            <mat-grid-tile colspan="3">
              <mat-card-subtitle class="totales align-right">S/ 123.00</mat-card-subtitle>
            </mat-grid-tile>
            <mat-grid-tile colspan="3">
              <mat-card-subtitle class="totales align-left">DELIVERY:
              </mat-card-subtitle>
            </mat-grid-tile>
            <mat-grid-tile colspan="3">
              <mat-card-subtitle class="totales align-right">S/ 0.00</mat-card-subtitle>
            </mat-grid-tile>
            <mat-grid-tile colspan="3">
              <mat-card-subtitle class="totales align-left">TOTAL:
              </mat-card-subtitle>
            </mat-grid-tile>
            <mat-grid-tile colspan="3">
              <mat-card-subtitle class="totales align-right">S/ 123.00</mat-card-subtitle>
            </mat-grid-tile>
            <mat-grid-tile colspan="6" rowspan="2">
              <button type="button" mat-flat-button matStepperNext color="primary" (click)="banderas()">
                Continuar
              </button>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card-footer>
      </div>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Confirmación</ng-template>
    <mat-grid-list cols="2" rowHeight="20px">
      <mat-grid-tile colspan="2">
        <p class="align-left">Fecha: {{fechaActual}}</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="2">
        <p class="align-left">Tienda: Online</p>
      </mat-grid-tile>

      <mat-grid-tile colspan="2" *ngIf="!boleta">
        <p class="align-left">Doc Cliente: RUC: {{rucSunat}}</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" *ngIf="!boleta">
        <p class="align-left">RAZON SOCIAL: {{razon_social}}</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" *ngIf="!boleta">
        <p class="align-left">Email : alguien@example.com</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" *ngIf="!boleta">
        <p class="align-left">Telefono: 123456789</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" *ngIf="boleta">
        <p class="align-left">Doc Cliente: DNI: {{usuario.usu_dni}}</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" *ngIf="boleta">
        <p class="align-left">Cliente: {{nombreConcatenado}}</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" *ngIf="boleta">
        <p class="align-left">Email : {{usuario.usu_email}}</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" *ngIf="boleta">
        <p class="align-left">Celular: {{usuario.usu_celular}}</p>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-divider></mat-divider>
    <mat-grid-list cols="12" rowHeight="40px" class="totales">
      <mat-grid-tile colspan="2"> CODIGO </mat-grid-tile>
      <mat-grid-tile colspan="5"> DESCRIPCION DEL PRODUCTO </mat-grid-tile>
      <mat-grid-tile colspan="1"> CANTIDAD </mat-grid-tile>
      <mat-grid-tile colspan="2"> PRECIO U. </mat-grid-tile>
      <mat-grid-tile colspan="2"> SUBTOTAL </mat-grid-tile>
    </mat-grid-list>
    <mat-divider></mat-divider>
    <mat-grid-list cols="12" rowHeight="30px">
      <div *ngFor="let item of prueba">
        <mat-grid-tile colspan="2"> 000001 </mat-grid-tile>
        <mat-grid-tile colspan="5">
          <p class="align-left">{{ item.pro_nombre }}</p>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
          {{ item.pro_cantidad_elegida }}
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
          <p class="align-right">S/ {{ item.pro_precio }}</p>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
          <p class="align-right">
            S/ {{ item.pro_precio * item.pro_cantidad_elegida }}
          </p>
        </mat-grid-tile>
      </div>
    </mat-grid-list>
    <mat-divider></mat-divider>
    <mat-grid-list cols="12" rowHeight="30px">
      <mat-grid-tile colspan="6" rowspan="4">
        <p class="align-left">Gracias por su preferencia</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="3" class="totales">
        <p class="align-left">TOTAL NORMAL</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="3" class="totales">
        <p class="align-right">S/ {{ carService.totalVenta }}</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="3" class="totales">
        <p class="align-left">DELIVERY</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="3" class="totales">
        <p class="align-right">S/ 0.00</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="3" class="totales">
        <p class="align-left">TOTAL</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="3" class="totales">
        <p class="align-right">S/ 500.00</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="12" rowspan="2">
        <button type="button" mat-flat-button matStepperNext color="primary">
          Confirmar
        </button>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-step>
</mat-horizontal-stepper>